#==============================================================================
# C O P Y R I G H T
#------------------------------------------------------------------------------
# Copyright (c) 2021-2022 by Helmut Konrad Fahrendholz. All rights reserved.
# This file is property of Helmut Konrad Fahrendholz. Any unauthorized copy,
# use or distribution is an offensive act against international law and may
# be prosecuted under federal law. Its content is company confidential.
#==============================================================================

utila>=2.87.2<3.0.0
rawmaker>=2.39.5<3.0.0
ghost>=0.8.0<1.0.0
# Table Extractor
camelot_py>=0.10.1<0.11.0
opencv_python>=4.6.0.66<5.0.0
